.app{
  height: 100vw;
  width: 100vw;
  background-image: url("./assets/backgrounf-image/background4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

